.App {
  text-align: center;
}

nav {
  background-color: darkslategrey;
  padding: 5px;
}

nav a {
  margin: 15px;
  color: #ffffff;
  font-size: 25px;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}
